@model POI

<h2>Thêm POI</h2>

<form method="post">
    <input name="Name" placeholder="Tên" />
    <input name="Latitude" placeholder="Lat" />
    <input name="Longitude" placeholder="Lng" />
    <button type="submit">Lưu</button>
</form>